* {
  background-color: #eaeaea;
  margin-left: 0.3rem;
}
header {
  font-size: xxx-large;
  font-weight: 600;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

h3,
h4,
p {
  font-family: "Barlow Condensed", sans-serif;
}

.createCategoryText {
  margin-bottom: 0;
  margin-top: 4rem;
}

#taskForm {
  display: flex;
}

#tName input,
#dueDate,
#taskCategory,
#taskCategory::selection .createCategoryInput {
  width: auto;
  height: 26px;
  display: flex;
  align-self: center;
}

.createCategorySection {
  width: auto;
  display: flex;
  align-self: center;
}

.tName,
.taskCategory,
.createCategoryInput {
  align-self: flex-end;
}

.tName,
.dueDate,
.taskCategory,
#createCategorySection {
  margin-left: 1rem;
}

#newCategoryItem {
  margin: 0;
}

#colorCategory {
  margin-left: 1.5rem;
}

::placeholder,
#taskCategory,
#dueDate {
  font-family: "Barlow Condensed", sans-serif;
  font-size: medium;
  padding: 2px;
}

button {
  font-size: large;
  font-weight: 600;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  align-self: flex-end;
  margin-left: 2rem;
  border-radius: 5px;
  padding: 0.5rem;
}

article button {
  text-align: left;
}

#createTask:hover,
#createCategoryBtn:hover,
#clearDoneButton:hover {
  background: rgb(39, 93, 56);
  background: radial-gradient(
    circle,
    rgba(39, 93, 56, 1) 0%,
    rgba(0, 101, 164, 1) 75%,
    rgba(157, 78, 221, 1) 100%
  );
  color: white;
}

#todoList {
  width: auto;
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
}

article {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  width: 10rem;
  display: block;
  border-style: double;
  border-width: 10px;
}

label {
  padding: 0 0 2rem 0;
}
.wrapper {
  padding: 2rem;
}

footer {
  bottom: 10px;
}
