* {
  background-color: #eaeaea;
  margin-left: 0.3rem;
}
header {
  font-size: xxx-large;
  font-weight: 600;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}


h3,
h4,
p {
  font-family: "Barlow Condensed", sans-serif;
  margin-bottom: 0.5rem;
  margin-top: 4rem;
}

::placeholder,
select,
#dueDate {
  font-family: "Barlow Condensed", sans-serif;
  font-size: medium;
  padding: 2px;
}

#createTaskForm,
#categoryForm {
  display: flex;
  align-items: end;
  justify-content: left;
}

#taskCategory h3 {
  height: 30px;
}

#editCategorySection,
#editedCategoryInput {
  margin-left: 1.5rem;
}

input,
select {
  height: 30px;
  border-radius: 3px;
}

.createCategoryInput,
.deleteCategoryInput,
.editCategoryInput {
  margin: 0;
  display: flex;
  align-items: end;
}

#deleteCategorySection,
#editCategorySection {
  margin-left: 1rem;
}

.deleteCategorySection,
.editCategorySection {
  border-width: 3px;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-color: black;
  border-style: solid;
}

button {
  font-size: large;
  font-weight: 600;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  align-self: flex-end;
  margin-left: 2rem;
  border-radius: 5px;
  padding: 0.5rem;
}

#createTaskBtn:hover,
#createCategoryBtn:hover,
#clearDoneButton:hover,
#deleteCategoryBtn:hover,
#editCategoryBtn:hover {
  background: rgb(39, 93, 56);
  background: radial-gradient(
    circle,
    rgba(39, 93, 56, 1) 0%,
    rgba(0, 101, 164, 1) 75%,
    rgba(157, 78, 221, 1) 100%
  );
  color: white;
}

#todoList {
  width: auto;
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
}

#todoList article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem;
  padding: 1rem;
  width: 13rem;
  display: block;
  border-style: double;
  border-width: 10px;
}

label {
  padding: 0 0 2rem 0;
}
.wrapper {
  padding: 2rem;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

footer {
  font-family: "Barlow Condensed", sans-serif;
  bottom: 10px;
  text-align: center;
}

#categoryFilterSelector {
  align-self: flex-end;
}

#clearDoneButton {
  margin: 0;
}
