header{
  font-size: xxx-large;
  font-weight: 600;
}

fieldset{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

label{
  padding: 0 0 2rem 0;
}
.wrapper{
  padding: 2rem;
}

.inputField{
  margin: 2rem 0;
}

footer{
  bottom: 10px;
}